node_modules
.env*
!.env.example
dist
coverage
logs
certs/*.pem
!certs/generate
src/generated
public/avatars/*
public/banners/*
!public/avatars/.gitkeep
!public/banners/.gitkeep
backups/*
!backups/.gitkeep
